<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
   
   
   
   


<style>

#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

</style>
</head>
<body>

        <div id="map" style="width: 960px; height: 500px"></div>

<script>



var map = L.map('map').setView([37.7341003, -122.114853], 10);

L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', {
    maxZoom: 18,
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
}).addTo(map);


var circle_1 = L.circle([37.566483, -122.32616], -90.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_1.bindPopup("SUSAN J. SPENCER");
map.addLayer(circle_1)

var circle_2 = L.circle([38.010265, -121.80598], 500.0, {
                            color: 'black',
                            fillColor: '#f00',
                            fillOpacity: 0.6
                            });
circle_2.bindPopup("JOHN W. COPELAND");
map.addLayer(circle_2)

var circle_3 = L.circle([37.556435, -121.98214], 0.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_3.bindPopup("STACEY F. BARRIE");
map.addLayer(circle_3)

var circle_4 = L.circle([37.377022, -122.06483], 420.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_4.bindPopup("MALA AHLUWALIA");
map.addLayer(circle_4)

var circle_5 = L.circle([37.89043, -122.29665], 90.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_5.bindPopup("MICHAEL SMITH");
map.addLayer(circle_5)

var circle_6 = L.circle([37.130646, -121.65459], 480.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_6.bindPopup("RICARDO J. PEREZ");
map.addLayer(circle_6)

var circle_7 = L.circle([38.256657, -122.04742], 420.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_7.bindPopup("ROBERT A. VARADY");
map.addLayer(circle_7)

var circle_8 = L.circle([38.50592, -122.47226], 390.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_8.bindPopup("ROBERT W. DARTER");
map.addLayer(circle_8)

var circle_9 = L.circle([37.632298, -122.08965], 120.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_9.bindPopup("JEFFREY M. WOLDRICH");
map.addLayer(circle_9)

var circle_10 = L.circle([37.855213, -122.25772], 390.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_10.bindPopup("NICOLA B. HANCHOCK");
map.addLayer(circle_10)

var circle_11 = L.circle([37.821728, -122.26537], 150.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_11.bindPopup("KIMBERLY HICKS");
map.addLayer(circle_11)

var circle_12 = L.circle([37.786957, -122.42252], 90.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_12.bindPopup("JOAN SAXTON");
map.addLayer(circle_12)

var circle_13 = L.circle([37.99675, -122.30174], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_13.bindPopup("GRACE S. CHOU");
map.addLayer(circle_13)

var circle_14 = L.circle([38.50592, -122.47226], 540.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_14.bindPopup("BARRY A. BROWN");
map.addLayer(circle_14)

var circle_15 = L.circle([37.705521, -121.87423], 450.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_15.bindPopup("DAMAYANTHI KALISETTI");
map.addLayer(circle_15)

var circle_16 = L.circle([37.925194, -121.73489], 420.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_16.bindPopup("SINAN N. ALSHAHWANY");
map.addLayer(circle_16)

var circle_17 = L.circle([37.439377, -122.16225], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_17.bindPopup("TAMI MILLER");
map.addLayer(circle_17)

var circle_18 = L.circle([37.220657, -121.86433], -30.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_18.bindPopup("MANIKA V. KAUSHAL");
map.addLayer(circle_18)

var circle_19 = L.circle([37.818897, -122.26389], 510.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_19.bindPopup("ANNA FRICK");
map.addLayer(circle_19)

var circle_20 = L.circle([37.910461, -122.04186], 480.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_20.bindPopup("MAHSHEED SHARIATI");
map.addLayer(circle_20)

var circle_21 = L.circle([37.594425, -122.38329], 0.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_21.bindPopup("AILEEN WHELAN");
map.addLayer(circle_21)

var circle_22 = L.circle([38.255726, -122.63286], 600.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_22.bindPopup("DANA C. NIENDORF");
map.addLayer(circle_22)

var circle_23 = L.circle([37.783871, -122.43118], 240.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_23.bindPopup("TUAN A. DUONG");
map.addLayer(circle_23)

var circle_24 = L.circle([37.692135, -121.87923], 300.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_24.bindPopup("JOHN A. NUNES");
map.addLayer(circle_24)

var circle_25 = L.circle([37.799988, -121.91675], 120.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_25.bindPopup("SUSANNE GOEB");
map.addLayer(circle_25)

var circle_26 = L.circle([37.377022, -122.06483], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_26.bindPopup("LISA N. GERVIN");
map.addLayer(circle_26)

var circle_27 = L.circle([38.256657, -122.04742], 540.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_27.bindPopup("CRAIG L. GILLESPIE");
map.addLayer(circle_27)

var circle_28 = L.circle([38.441162, -122.69981], 390.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_28.bindPopup("JEANNIE L. PFLUM");
map.addLayer(circle_28)

var circle_29 = L.circle([37.566483, -122.32616], -90.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_29.bindPopup("THOMAS O. STODGEL");
map.addLayer(circle_29)

var circle_30 = L.circle([37.775612, -121.96593], 450.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_30.bindPopup("DOLORES K. MUSCO");
map.addLayer(circle_30)

var circle_31 = L.circle([37.848537, -122.4808], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_31.bindPopup("NAUREEN A. SHAIKH");
map.addLayer(circle_31)

var circle_32 = L.circle([37.984161, -122.03596], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_32.bindPopup("SUSAN J. ADLER-BRESSLER");
map.addLayer(circle_32)

var circle_33 = L.circle([38.441738, -122.6619], 450.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_33.bindPopup("GARY N. FURNESS");
map.addLayer(circle_33)

var circle_34 = L.circle([37.594425, -122.38329], 390.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_34.bindPopup("EVELYN KHOO");
map.addLayer(circle_34)

var circle_35 = L.circle([37.285976, -121.97808], 120.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_35.bindPopup("EDWARD DEWEES");
map.addLayer(circle_35)

var circle_36 = L.circle([37.439377, -122.16225], 480.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_36.bindPopup("CHARLES WEISS");
map.addLayer(circle_36)

var circle_37 = L.circle([37.004185, -121.57757], 0.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_37.bindPopup("TAKI N. ANAGNOSTON");
map.addLayer(circle_37)

var circle_38 = L.circle([37.705521, -121.87423], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_38.bindPopup("ANDAL KADAMBI");
map.addLayer(circle_38)

var circle_39 = L.circle([37.937107, -121.69769], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_39.bindPopup("DEREK JOHNSON");
map.addLayer(circle_39)

var circle_40 = L.circle([37.377022, -122.06483], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_40.bindPopup("FANNIE HUANG");
map.addLayer(circle_40)

var circle_41 = L.circle([37.325909, -121.93209], 240.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_41.bindPopup("ALEXANDER D. DOAN");
map.addLayer(circle_41)

var circle_42 = L.circle([38.026329, -121.94738], 60.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_42.bindPopup("GREGG S. SORENSEN");
map.addLayer(circle_42)

var circle_43 = L.circle([37.785908, -122.45768], 540.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_43.bindPopup("M M. QUAN");
map.addLayer(circle_43)

var circle_44 = L.circle([38.47327, -122.72651], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_44.bindPopup("JACQUELINE R. SKVARIL");
map.addLayer(circle_44)

var circle_45 = L.circle([37.367916, -122.0287], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_45.bindPopup("QUANJING LIU");
map.addLayer(circle_45)

var circle_46 = L.circle([38.46859, -122.70708], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_46.bindPopup("ASHLEY K. WEINERT");
map.addLayer(circle_46)

var circle_47 = L.circle([37.36401, -121.84882], 450.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_47.bindPopup("DALE A. CAPULONG");
map.addLayer(circle_47)

var circle_48 = L.circle([37.952965, -121.95606], 0.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_48.bindPopup("STEVEN M. KAPLAN");
map.addLayer(circle_48)

var circle_49 = L.circle([38.325287, -122.29395], 360.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_49.bindPopup("CHARLES W. CLARY");
map.addLayer(circle_49)

var circle_50 = L.circle([37.912754, -122.04305], 300.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_50.bindPopup("ROSS A. PIRKLE");
map.addLayer(circle_50)

var circle_51 = L.circle([37.634083, -122.08987], 500.0, {
                            color: 'black',
                            fillColor: '#f00',
                            fillOpacity: 0.6
                            });
circle_51.bindPopup("IVAN Y. LEE");
map.addLayer(circle_51)

var circle_52 = L.circle([37.818897, -122.26389], 30.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_52.bindPopup("YI YI S. GU");
map.addLayer(circle_52)

var circle_53 = L.circle([37.793976, -122.40835], 450.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_53.bindPopup("KE H. TUAN");
map.addLayer(circle_53)

var circle_54 = L.circle([38.325932, -122.29456], 330.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_54.bindPopup("STUART BURSTEN");
map.addLayer(circle_54)

var circle_55 = L.circle([37.294456, -121.99264], 180.0, {
                            color: 'black',
                            fillColor: '#0000FF',
                            fillOpacity: 0.6
                            });
circle_55.bindPopup("ALEXANDER KORSUNSKY");
map.addLayer(circle_55)






</script>

</body>